.width-4em {
	width: 4em;
}

.width-5em {
	width: 5em;
}

.frame {	
	padding: 5px;
	margin: 5px;
}

.bg-ghost {
	background-color: ghostwhite;
}

.border-sky-blue {
	border: 1px solid lightskyblue;
}

.border-null {
	border: 0;
}

.center {
	text-align: center;
}

.width-limit-800px{
	max-width: 800px;
	margin-left: auto;
    margin-right: auto;
}